---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";

import FloresNombre from "../components/FloresNombre.astro";
import Dedicatoria from "../components/Dedicatoria.astro";
import NombresPadres from "../components/NombrePadres.astro";
import Fecha from "../components/Fecha.astro";
import Itinerario from "../components/Itinerario.astro";
import Direccion from "../components/Direccion.astro";
import CodigoVestimenta from "../components/CodigoVestimenta.astro";
import Regalos from "../components/Regalo.astro";
import GaleriaFotos from "../components/GaleriaFotos.astro";
import Despedida from "../components/Despedida.astro";
import FloresAbajo from "../components/FloresAbajo.astro";
import DireccionIglesia from "../components/DireccionIglesia.astro";
---

<Layout title="Mis XV Años">
    <FloresNombre />
    <div class="py-4"></div>
    <Dedicatoria />
    <div class="py-4"></div>
    <NombresPadres />
    <div class="py-4"></div>
    <Fecha />
    <div class="py-4"></div>
    <!-- <DireccionIglesia /> -->
    <Direccion />
    <div class="py-4"></div>
    <Itinerario />
    <CodigoVestimenta />
    <div class="py-4"></div>
    <Regalos />
    <div class="py-4"></div>
    <GaleriaFotos />
    <div class="py-4"></div>
    <Despedida />
    <FloresAbajo />
</Layout>
